.searchBarLayout {
  display: flex;
  justify-content: space-between;
}

.buttonAdd {
  border-radius: 5px;
  background-color: #41a275;
  text-align: center;
  border: none;
  color: white;
  margin-left: 10px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconHeader {
  font-size: 35px;
  color: #54A4DE;
}

.buttonAction {
  border-radius: 5px;
}